---
import Welcome from '../components/Welcome.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<Welcome />
		<Projects />
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
		padding: 2rem 1rem;
	}
</style>