---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
import '../styles/components.css';
import '../styles/utilities.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Zach Hunter - Technical Curriculum Developer</title>
		<meta name="description" content="Technical Curriculum Developer specializing in digital learning tools, XLIFF localization, and xAPI implementation." />
	</head>
	<body>
		<Navigation />
		<slot />
	</body>
</html>